body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #8b95a0;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    max-width: 80vw;
    width: 80vw;
    min-width: 80vh;
    min-height: 10vh;
    margin: 0 auto;
    display: block;
    background-color: #425060;
}

#stereoImages {
    display: flex;
    justify-content: center;
}

#leftImage, #rightImage {
    max-width: 40vw;
    width: 40vw;
    min-height: 20vh;
    border: 1px solid #000000;
    margin: 0;
}

.buttonContainer {
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px auto 8px auto;
    max-width: 80vw;
    min-width: 80vh;
    min-height: 10vh;
    color: white;
    font-size: 32px;
}

.focusButton {
    border: 4px solid yellow;
}

.disabledButton {
    background-color: #343a40;
    color: #6c757d;
    cursor: not-allowed;
}

.buttonContainer:hover {
    background-color: #343a40;
}

#leftCustomMatrix, #rightCustomMatrix {
    /* 3x3 table */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid #000000;
    margin: 0;
    width: fit-content;
}

.settingsGroup {
    width: 80vw;
    max-width: 80vw;
    margin: auto auto 16px auto;
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    margin: 0;
    padding: 0;
    width: 80vw;
    max-width: 80vw;
    margin: auto;
}

.customMatrix {
    display: flex;
    flex-direction: row;
}

.settingsGrid > div > label {
    display: inline-block;
    min-width: 8rem;
}

label {
    font-size: 0.8rem;
    vertical-align: middle;
}

input[type="number"] {
    width: 4rem;
    height: 1.5rem;
    font-size: 1rem;
    margin: 0;
}

input[type="range"] {
    position: relative;
    top: 0.2rem;
}

.statusText {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #aaaaaa;
    font-size: 36px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.removeButton {
    position: absolute;
    top: 10%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: darkred;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #212529;
    text-align: center;
}

.imgContainer {
    position: relative;
    width: 400px;
    overflow: hidden;
    margin: 8px auto auto auto;
    padding: 0;
    display: block;
    max-width: 400px;
    justify-content: center;
}